version: '2'
services:
  web: &app_base
    build:
      context: .
      dockerfile: "Dockerfile"
    command: ["bundle", "exec", "rails", "s", "-p", "3000", "-b", "0.0.0.0"]
    env_file:
      - "./.env.dev"
    volumes:
      - ".:/app"
    volumes_from:
      - data
    ports:
      - "3000:3000"
    depends_on:
      - db
    tty: true
    stdin_open: true
    networks:
      - rails
  spring:
    <<: *app_base
    command: ["bundle", "exec", "spring", "server"]
    ports: []
    tty: false
    stdin_open: false
  db:
    image: "mysql:5.7.19"
    environment:
      MYSQL_ROOT_PASSWORD: password
    volumes_from:
      - data
    ports:
      - "13306:3306"
    networks:
      - rails
  data:
    image: "busybox"
    volumes:
      - "db:/var/lib/mysql"
      - "bundle:/usr/local/bundle"

volumes:
  db:
    driver: local
  bundle:
    driver: local

networks:
  rails:
    driver: bridge
